/* Body */
body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    width: 1440px;
    height: 3300px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

.page-header {
    background-color: #E7E9FC;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.166;
    text-decoration: none;
    text-transform: uppercase;
}

.page-logo-1 {
    color: #4D5AE5;
    text-decoration: none;
}

.page-logo-2 {
    color: #2E2F42;
    text-decoration: none;
}

.menu-nav-list,
.menu-nav-link {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    list-style-type: none;
}

.menu-nav-link:hover,
.menu-nav-link:active {
    color: #404BBF;
}

.contact {
    list-style-type: none;
}

.contact a {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
}

.contact a:hover {
    color: #404BBF;
}

/* Main - Hero Section*/
.hero {
    background-color: #2E2F42;
}

.hero .hero-title {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
}

.hero .btn {
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.hero .btn:hover {
    background-color: #404BBF;
}

/* Features */
.features-title {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.features-text {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.section-title {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
}

.team {
    background-color: #F4F4FD;
}

.team-name {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.team-role {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.portfolio {
    background-color: #FFFFFF;
}

.portfolio-title {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.footer {
    background-color: #2E2F42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.166;
    text-transform: uppercase;
}

.footer-logo-1 {
    color: #4D5AE5;
    text-decoration: none;
}

.footer-logo-2 {
    color: #F4F4FD;
    text-decoration: none;
}